@import "~bootstrap/scss/bootstrap";
/*general styles*/
.my_container_general {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*header*/
/*navbar*/
.my_nav_container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 120px;
}

#logo {
    width: 7%;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.right-navbar {
    width: 93%;
    display: flex;
    justify-content: end;
    ul {
        display: flex;
        align-items: center;
        a {
            text-transform: uppercase;
            font-weight: 500;
            color: #303030;
            margin-left: 25px;
            padding-bottom: 53px;
            text-decoration: none;

            &.selected,
            &:hover {
                color: #0483f9;
                border-bottom: #0483f9 4px solid;
            }
        }
    }
}

.nav-jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    min-height: 400px;
}

/*main*/
/*section comics*/
#main_backgound {
    background-color: #1c1c1c;
}

.my_main_container {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.main-title-page {
    color: #fff;
    margin: -20px 0 10px;
    padding: 10px 40px;
    background-color: #0483f9;
    font-size: 25px;
    height: 50px;
    display: inline;
}

/*comics*/
.comics_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .comic {
        font-size: 16.18px;
        color: $white;
        flex-basis: calc((100% / 6) - 20px);
        margin: 20px 10px;

        .comic_img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 100% 0;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        padding: 10px 40px;
        border: none;
        background-color: $blue;
        cursor: pointer;
        color: $white;
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0;
    
        &:hover {
            box-shadow: 0px 0px 10px 5px #093e4b3f;
        }
    }
}

/*footer*/
/*upper footer*/
#footer-backgound {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
}


.my_footer_container {
    min-height: 350px;
    display: flex;

    .footer-left,
    .footer-right {
        width: 40%;
    }

    .footer-left {
        display: flex;
        margin-right: auto;

        .col {
            width: calc(80% / 3);
            margin-right: auto;
        }

        h2 {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            margin: 20px 0;
        }

        a {
            color: #595a5f;
            &:hover {
                color: #fff;
            }
        }
        
        li {
            font-size: 12px;
            margin: 5px 0;
        }
    }
}

.logo-jumbotron {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/dc-logo-bg.png);
}